<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="editor">
        <h1><%= @article.title %></h1>
       <%= link_to 'Edit this article',  edit_article_path, class: 'btn btn-primary btn-edit' %>
      </div>
      <div class="desc">
        <p><%= @article.content %></p>
      </div>
      <div class="back-to">
        <%= link_to 'Back to list', articles_path %>
      </div>
    </div>
  </div>
</div>
